.header {
  background: #062952;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  font-size: 4em;
  width: 800px;
  margin: auto;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
