.tableHeader {
  padding: 15px;
  background: #144781;
  color: white;
  font-size: 1.1em;
  text-align: left;
}

.tableCell {
  padding: 17px;
  border-bottom: 1px solid #eee;
  font-size: 1em;
  text-align: left;
}

.tableRow:hover {
  background: #eee;
  cursor: pointer;
}
