.tabs {
    align-self: center;

}

.tabButton {
    background: none;
    color: inherit;
    border: none;
    margin-left: 5px;
    font: inherit;
    font-weight: normal;
    cursor: pointer;
    outline: inherit;
}

.tabButton:hover {
    box-shadow: 0px 1px 0px 0px blue;
    color: blue;
}

.active {
    box-shadow: 0px 1px 0px 0px #000000;
}