.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.loginFormTitle {
  font-size: 48px;
}

.loginFormButton {
  margin-top: 15px !important;
}
