.welcome-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans";
  width: 100%;
}

.welcome-page_paragraph {
  text-align: left;
  align-self: center;
}

.welcome-page_title {
  font-size: 2rem;
}

.welcome-page_buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.welcome-page_body{ 
  width: 60%;
  display: flex;
  flex-direction: column;
}

.welcome-page_summons{
  align-self: center;
  color: red;
}

a[href$=".pdf"] {

}